/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Share Tech Mono', monospace;
 */

* {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #000;

}

a {
  color: inherit;
}

h4 {
  font-weight: 700;
}

/*    HEADER/NAV     */

header {
  width: 100%;
}

nav a {
  text-decoration: none;
}

nav > div {
  display: block;
  width: 100%;
}

nav ul li {
  display: inline;
  padding-right: 13px;
}

.first-nav,
.third-nav {
  padding: 8px 15px;
}

.first-nav {
  background-color: #000;
  font-size: 0.8em;
  height: 40px;
}

.first-nav a {
  color: #fff;
}

.first-nav ul.first-nav-float-left {
  float: left;
}

.first-nav ul.first-nav-float-right {
  float: right;
  padding-top: 5px;
}

.first-nav select {
  background: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  border: none;
  font-size: 1.04em;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 65px;
}

#events-select {
  width: 44px;
  border: none;
}

.second-nav {
  padding: 20px 15px;
  font-family: "Share Tech Mono", monospace;
}

.second-nav a {
  color: rgb(177, 177, 177);
  text-transform: uppercase;
}

.third-nav {
  background-color: #fd3;
  font-size: 0.9em;
}

/*     NEWS    */


.main-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 5px;
  height: 500px;
}

.main-big-news {
  grid-column: span 2;
  grid-row: span 6;
}

.main-big-news img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-second-news,
.main-third-news {
  grid-column: span 1;
  width: 100%;
  grid-row: span 3;
}

.main-second-news img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-third-news {
  margin-top: -2px;
}

.main-third-news img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* NEWS AND EVENTS  */

.fsq-layout {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}

.enable-fsq-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 290px);
  margin: 0 auto;
  justify-content: center;
}

.fsq-title {
  margin-top: 80px;
  margin-bottom: 60px;
  color: red;
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.fsq-box-setup {
  max-width: fit-content;
  justify-self: center;
  margin-bottom: 80px;
}

.fsq-box-setup img {
  height: 140px;
  object-fit: cover;
}

.fsq-box-setup a {
  text-decoration: none;
  line-height: 1.2em;
}

.author a,
.author {
  padding-top: 9px;
  font-size: 0.9em;
  font-weight: 400;
  color: rgb(163, 163, 163);
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 120px;
}

.cat {
  max-width: 320px;
}

.cat > .title {
  color: #ff4422;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
}

.cat > .image {
  /* background-color: #000;
  background-size: cover;
  background-position: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1; */

  position: relative;
  width: 100%;
  height: 280px;
  background-size: cover;
}

.cat > .image.cat-01 {
  background: url("../img/cat-01.1.jpg") center center no-repeat;
}

.cat > .image.cat-02 {
  background: url("../img/cat-02.1.jpg") center center no-repeat;
}

.cat > .image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: 0.6;
}

/* .cat img {
  max-width: 360px;
  z-index: 1;
  height: 200px;
} */

.cat .heading {
  margin: 12px;
  top: -110px;
  position: relative;
  color: #fff;
}

.cat .heading .tag {
  font-size: 12px;
}

.cat .heading .author {
  margin-top: 8px;
  font-size: 12px;
}

.cat .heading .title {
  font-weight: bold;
  font-size: 20px;
}

.cat .latest {
  display: flex;
  margin-top: -100px;
  padding-top: 12px;
  color: #ff4422;
  background-color: rgba(255, 68, 34, 0.06);
}

.cat .latest > div {
  flex: 3;
  padding: 0 8px;
}

.cat .latest > img {
  flex: 1;
  max-width: 25%;
  height: 80px;
  margin-top: -10px;
}

.cat .latest .tag {
  font-size: 12px;
}

.cat .latest .text {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
}

.cat ul {
  margin: 8px 0 24px 8px;
}

.cat ul li {
  padding: 8px 0;
  padding-left: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}

.cat ul li::before {
  content: "\2022";
  color: #ff4422;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* DEALS */

.deals {
  height: auto;
  margin: 40px 120px;
}

.deals > .title {
  color: #ff4422;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
}

.deals > .title > .see-all {
  float: right;
  font-size: 14px;
  font-weight: normal;
}

.deals-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.deal {
  max-width: 270px;
  min-width: 200px;
  margin: 0 8px 24px;
  margin-bottom: 24px;
}

.deal .title {
  font-weight: bold;
  margin-top: 8px;
}

.deal .price {
  color: rgba(0, 0, 0, 0.8);
  margin-top: 8px;
}

.deal .price .old {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}

.deal img {
  max-width: 270px;
  min-width: 200px;
}

.deal a {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 0;
  margin: -2em;
}

/* FOOTER */


footer .first-row {
  background-color: rgb(19, 19, 19);
  padding-top: 40px;
}

footer ul {
  display: flex;
  max-width: 360px;
  margin: auto;
  justify-content: space-between;
}

footer .first-row ul.social li {
  height: 40px;
  width: 40px;
  background-color: rgb(85, 85, 85);
  border-radius: 50%;
  border: 2px solid rgb(85, 85, 85);
}

footer .first-row ul.social li:hover {
  background-color: inherit;
}

footer .first-row .social a {
  height: 40px;
  width: 40px;
}

footer .links {
  padding: 32px 0;
  color: #aaaaaa;
  text-transform: uppercase;
  font-size: 12px;
}

footer .second-row {
  padding: 36px 0;
  background-color: rgb(0, 0, 0);
  color: #aaa;
  text-align: center;
  font-size: 12px;
}

footer .white {
  color: white;
  text-transform: uppercase;
}

footer .love {
  color: red;
}

footer i {
  background: transparent url("../img/icons-sprite.svg") no-repeat;
  background-size: 1296px 1296px;
  height: 16px;
  width: 16px;
  display: block;
}

footer i.facebook {
  background-position: -256px -256px;
}

/*    MEDIA/RESPONSIVE    */

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .main-news {
    display: block;
    height: auto;
  }
  
  .main-news > div {
    height: 200px;
    padding: 4px;
  }

  .enable-block {
    display: inline;
  }

  .fsq-box-setup {
    display: flex;
  }
  
  .fsq-box-setup img {
    height: 75px;
    width: 75px;
  }
  
  .fsq-title-author {
    display: block;
    width: 100%;
  }

}

